version: '2'
services:
    db:
        image: mariadb
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_USER: root
            MYSQL_DATABASE: "symfony"
        volumes:
            - mysql_data_netflix:/var/lib/mysql
            - ./site/fixtures/:/docker-entrypoint-initdb.d:ro

    php:
        build: ./docker/php-fpm
        expose:
            - 9000
        volumes:
            - ./site/:/var/www/symfony
            - ./docker/logs/symfony/:/var/www/symfony/var/logs/
        links:
            - db

    nginx:
        image: nginx
        ports:
            - 8082:80
        links:
            - php
        volumes_from:
            - php
        volumes:
            - ./docker/logs/nginx/:/var/log/nginx/
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf

    db_admin:
          image: phpmyadmin/phpmyadmin
          restart: always
          links:
              - db:db
          depends_on:
              - db
              - nginx
          ports:
              - 8081:80
          environment:
              PMA_HOST: db
              PMA_PORT: 3306
              PMA_USER : root
              PMA_PASSWORD : root

volumes:
  mysql_data_netflix: {}
