{% extends 'layout.html.twig' %}

{% block content %}
    <h1>titre : {{ movie.FicheDescription.titre }}</h1>
    <p>description : {{ movie.FicheDescription.description }}</p>
    <p>video : {{ movie.video }}</p>
{% endblock %}
