<html>
    <head>

    </head>
    <body>
    {{ render(controller('AppBundle:layout:menu')) }}
        {% block content %}{% endblock %}



       {# {% include 'footer.html.twig' %} #}
    </body>
</html>
