{% extends 'layout.html.twig' %}

{% block content %}
    <h1>titre : {{ film.FicheDescription.titre }}</h1>
    <p>description : {{ film.FicheDescription.description }}</p>
    <p>video : {{ film.video }}</p>
{% endblock %}
