<!-- app/Ressources/views/project/view.html.twig -->
<html>
    <head>
        <title>{{ fiche.id }}</title>
    </head>

    <body>
    {%  include ('menu/menu.html.twig') %}
        <h1>titre : {{ fiche.titre }}</h1>
        <p>description : {{ fiche.description }}</p>
    </body>

</html>